@import './theme.scss';

.App {
  text-align: center;
  height: 100%;
  overflow-y: scroll;
}

.content {
  margin-bottom: 50px;
}

.footer-class { 
  position: fixed;
  background-color: $primary-text-color;
  height: 30px;
  left: 0;
  bottom: 0;
  width: 100%;
}